body {
  color: #40514e;
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}
.top-container {
  background-color: #b8e4f0;
  margin: 0px;
}
.middle-container {
  margin: 100px 0;
}
h1 {
  color: #66bfbf;
  font-size: 90px;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}
h2 {
  font-weight: normal;
  color: #66bfbf;
  font-size: 2.5em;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}
h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}
hr {
  border: dotted #2cdddd 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.pro {
  text-decoration: underline;
}
.bottom-cloud {
  position: absolute;
}
.top-cloud {
  position: relative;
  margin-left: 250px;
  margin-top: 50px;
  margin-bottom: 0;
}
.profile {
  display: inline-block;
  margin-right: auto;
  width: 35%;
  padding-top: 50px;
}
.work {
  display: block;
  margin-right: 30px;
  width: 25%;
  float: right;
}
.img {
  display: block;
  margin-right: 30px;
  width: 25%;
  float: left;
}
.btn {
  color: #11999e;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
  text-decoration: none;
}

.contact {
  margin: 40px auto 60px;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0px 20px;
}
a {
  color: #114749;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-style: unset;
}
a:hover {
  color: #eaf6f6;
}
.copywrite {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
